.container {
  display: flex;
  max-width: 800px;
  margin-right: auto;
  padding-top: 40px;
}

.content {
  width: 60%;
}

.link {
  color: var(--text-inactive-color);
}

.logout {
  color: var(--text-inactive-color);
  background-color: inherit;
}

.logout:hover {
  border: none;
  color: var(--colors-interface-accent);
}

.hint {
  font-size: 14px;
  color: #8585AD;
  opacity: 40%;
} 

.activeLink {
  color: white;
}

.profile {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  max-width: 400px;
}

.orders {
  width: 844px;
}

.orderList {
  overflow-y: auto;
  max-height: 80vh;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
}
  
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
  