.ingredients {
  display: flex;
  flex-direction: column;
  padding-right: 3%;
  height: 100%;
  width: 50%;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tab {
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
}

.tabWrapper {
  flex: 1 1 0;
  min-width: 0;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
