.placeholderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--background-element);
  width: 95%;
  margin-left: auto;
}

.top {
  border-radius: var(--top-constructor-item-border-radius);
}

.bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.filling {
  border-radius: var(--common-border-radius-s);
  width: 91%;
}
