.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #282c34;
}
  
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.active {
  color: #f2f2f3;
}

.inactive {
  color: var(--text-inactive-color);
}

.logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.langButton {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--text-inactive-color);
}

.langButton:hover {
  color: var(--colors-interface-accent);
}