.builder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.item {
  width: 95%;
  margin-left: auto;
}

.scrollable {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  min-height: 8%;
  overflow-y: auto;
}

.iconPlaceholder {
  width: 24px;
  height: 24px;
}

.total {
  justify-content: end;
  display: flex;
  align-items: center;
}

.dropHovered {
  border-radius: 10%;
  box-sizing: border-box;
  box-shadow: 0 0 12px 0 rgb(76, 76, 255, 0.5);
}

.dragging {
  opacity: 0.5;
}
