.builder {
  flex: 1;
}

.scrollable {
  max-height: 295px;
  overflow-y: auto;
  margin-right: -32px;
}

.item {
  display: flex;
  align-items: center;
}

.iconPlaceholder {
  width: 24px;
  height: 24px;
}

.total {
  justify-content: end;
    display: flex;
    align-items: center;
}
