.card {
  display: flex;
  width: min-content;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  padding: 3%;
  color: white;
}

.card:hover {
  transform: scale(1.05);
}
